*, ::after, ::before {
	box-sizing: border-box;
}
html, body {
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
.background {
	background: no-repeat url("images/background.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size:cover;
	position:center;
	height: 600px;
	width: 100%;
	position:relative;
	display:grid;
	grid-template-columns: repeat(240, 1fr) ;
	grid-template-rows: repeat(240, 1fr) ;
	top:0;
	left:50%;
	transform: translateX(-50%);
	text-align:center;

}
.container{
	z-index:10;
}
.background:before {
	content: "";
	background-color: #000000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 10%;

}

.logo{
	z-index:10;
	background : no-repeat url("images/logo.png");
	grid-column-start:16;
	grid-column-end: span 40;
	grid-row-start: 24;
	grid-row-end: span 400;
}

.nav{
	z-index:10;
	grid-column-start:144;
	grid-column-end: span 96;
	grid-row-start: 24;
	grid-row-end: span 32;
}
.info{
	z-index:10;
	background-color: #fff3cd;
	background-size: 400px 100px !important;
	border-radius: 10px;
	grid-column-start:48;
	grid-column-end: span 160;
	grid-row-start: 104;
	grid-row-end:  128;
	background-
}

.savoir{
	color:red;
}

.hotel{
	z-index:10;
	grid-column-start:48;
	grid-column-end: span 14;
	grid-row-start: 144;
	grid-row-end:  160;
	background-color: rgba(247, 12, 12, 0.5);
	border-radius: 10px;
	display:grid;
	grid-template-columns: repeat(10, 1fr) ;
	grid-template-rows: repeat(10, 1fr) ;

}
.ico1{

	background : no-repeat url("images/hotel.png");
	background-size:50% 50%;
	grid-column-start:2;
	grid-column-end: span 3;
	grid-row-start: 4;
	grid-row-end: span 10;

}

.navtxt1{

	color:white;
	grid-column-start:4;
	grid-column-end: span 5;
	grid-row-start: 3;
	grid-row-end: span 3;
}
.vol{
	z-index:10;
	grid-column-start:63;
	grid-column-end: span 16;
	grid-row-start: 144;
	grid-row-end:  160;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	display:grid;
	grid-template-columns: repeat(10, 1fr) ;
	grid-template-rows: repeat(10, 1fr) ;



}
.ico2{
	background : no-repeat url("images/avion.png");
	background-size:50% 50%;
	grid-column-start:2;
	grid-column-end: span 4;
	grid-row-start: 4;
	grid-row-end: span 10;
}

.navtxt2{
	color:white;
	grid-column-start:4;
	grid-column-end: span 5;
	grid-row-start: 3;
	grid-row-end: span 3;
}

.voyages{
	z-index:10;
	grid-column-start:80;
	grid-column-end: span 32;
	grid-row-start: 144;
	grid-row-end:  160;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	display:grid;
	grid-template-columns: repeat(30, 1fr) ;
	grid-template-rows: repeat(30, 1fr) ;


}
.ico3{
	background : no-repeat url("images/carte.png");
	background-size:50% 50%;
	grid-column-start:3;
	grid-column-end: span 5;
	grid-row-start:10;
	grid-row-end: span 20;
}

.navtxt3{

	color:white;
	grid-column-start:6;
	grid-column-end: 30;
	grid-row-start: 7;
	grid-row-end: span 20;
}	
.club{
	z-index:10;
	grid-column-start:113;
	grid-column-end: span 22;
	grid-row-start: 144;
	grid-row-end:  160;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	display:grid;
	grid-template-columns: repeat(10, 1fr) ;
	grid-template-rows: repeat(10, 1fr) ;

}
.ico4{

	background : no-repeat url("images/verre.png");
	background-size:50% 50%;
	grid-column-start:3;
	grid-column-end: span 3;
	grid-row-start: 4;
	grid-row-end: span 10;
}

.navtxt4 {

	color:white;
	grid-column-start:4;
	grid-column-end: span 6;
	grid-row-start: 3;
	grid-row-end: span 3;
}

button{
	padding: 0;
	border: none;
	background: none;
}
.formulaire1{
	z-index:10;
	grid-column-start:35;
	grid-column-end: span 14;
	grid-row-start: 165;
	grid-row-end:  span 5;
	display: grid;
	height: 52px;
	width: 500px;
	grid-template-columns: repeat(10, 1fr) ;
	grid-template-rows: repeat(10, 1fr) ;


}
.formu1{
	grid-column-start:1;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end:  10;
}
.icone1{
	z-index:11;
	grid-column-start:90;
	grid-column-end: span 14;
	grid-row-start: 168;
	grid-row-end:  175;
	background : no-repeat url("images/position.png");
	width: 80%;
	height: 150%;

}


.formu2{
	z-index:10;
	grid-column-start:95;
	grid-column-end: span 50;
	grid-row-start: 165;
	grid-row-end:  170;


}
.icone2{
	z-index:11;
	grid-column-start:135;
	grid-column-end: span 14;
	grid-row-start: 169;
	grid-row-end:  175;
	background : no-repeat url("images/calendrier.png");
	width: 80%;
	height: 150%;



}
.formulaire3{
	z-index:10;
	grid-column-start:131;
	grid-column-end: span 50;
	grid-row-start: 165;
	grid-row-end:  170;

}
.monselect{

}
.formulaire4{
	z-index:10;
}
.rechercher{
	color: white;
	width: 200px;
	background-color: red;
	border-radius: 10px;
	grid-column-start:167;
	grid-column-end: span 50;
	grid-row-start: 165;
	grid-row-end:  180;
}
.grille1{
	height: 2400px;
	width: 100%;
	position:relative;
	display:grid;
	grid-template-columns: repeat(240, 1fr) ;
	grid-template-rows: repeat(240, 1fr) ;
	top:0;
	left:50%;
	transform: translateX(-50%);
	text-align:center;
}
.distanciation{
	background-color: rgba(135, 228, 142, 0.5);
	text-align: left;
	grid-column-start:50;
	grid-column-end: span 150;
	grid-row-start: 4;
	grid-row-end:   19;
	border-radius: 10px;

}
.margingauche{
	margin-left: 15px;
}
.fallin{
	height: 135px;
	grid-column-start:58;
	grid-column-end: span 120;
	grid-row-start: 21;
	grid-row-end:   25;
}
.red{
	color:red;
}
.image1{
	grid-column-start:10;
	grid-column-end: span 120;
	grid-row-start: 35;
	grid-row-end:   240;
}
.txtimage1{
	color:white;
	grid-column-start:10;
	grid-column-end: span 120;
	grid-row-start: 57;
	grid-row-end:   240;
}
.image2{
	
	grid-column-start:65;
	grid-column-end: span 120;
	grid-row-start: 35;
	grid-row-end:   240;
}
.txtimage2{
	color:white;
	grid-column-start:65;
	grid-column-end: span 120;
	grid-row-start: 57;
	grid-row-end:   240;
}
.image3{
	
	grid-column-start:130;
	grid-column-end: span 100;
	grid-row-start: 35;
	grid-row-end:   240;
}
.txtimage3{
	color:white;
	grid-column-start:120;
	grid-column-end: span 120;
	grid-row-start: 57;
	grid-row-end:   240;
}
.image4{
	grid-column-start:10;
	grid-column-end: span 120;
	grid-row-start: 71;
	grid-row-end:   240;
}
.txtimage4{
	color:white;
	grid-column-start:10;
	grid-column-end: span 120;
	grid-row-start: 95;
	grid-row-end:   240;
}
.image5{
	
	grid-column-start:65;
	grid-column-end: span 120;
	grid-row-start: 71;
	grid-row-end:   240;
}
.txtimage5{
	color:white;
	grid-column-start:65;
	grid-column-end: span 120;
	grid-row-start: 95;
	grid-row-end:   250;
}
.image6{
	
	grid-column-start:130;
	grid-column-end: span 100;
	grid-row-start: 71;
	grid-row-end:   240;
}
.txtimage6{
	color:white;
	grid-column-start:120;
	grid-column-end: span 120;
	grid-row-start: 95;
	grid-row-end:   240;
}
.image7{
	grid-column-start:10;
	grid-column-end: span 120;
	grid-row-start: 107;
	grid-row-end:   240;
}
.txtimage7{
	color:white;
	grid-column-start:10;
	grid-column-end: span 120;
	grid-row-start: 115;
	grid-row-end:   240;
}
.image8{
	
	grid-column-start:65;
	grid-column-end: span 120;
	grid-row-start: 107;
	grid-row-end:   240;
}
.txtimage8{
	color:white;
	grid-column-start:65;
	grid-column-end: span 120;
	grid-row-start: 115;
	grid-row-end:   240;
}
.image9{
	
	grid-column-start:130;
	grid-column-end: span 100;
	grid-row-start: 107;
	grid-row-end:   240;
}
.txtimage9{
	color:white;
	grid-column-start:120;
	grid-column-end: span 120;
	grid-row-start: 115;
	grid-row-end:   240;
}

.inspi{
	text-align: center;
	grid-column-start:50;
	grid-column-end: 200;
	grid-row-start: 125;
	grid-row-end:   240;
}
.image10{
	grid-column-start:12;
	grid-column-end: span 120;
	grid-row-start: 139;
	grid-row-end:   240;
}
.txtimage10{
	color:white;
	grid-column-start:50;
	grid-column-end: 90;
	grid-row-start: 185;
	grid-row-end:   240;
}
.image11{
	
	grid-column-start:65;
	grid-column-end: span 120;
	grid-row-start: 139;
	grid-row-end:   240;
}
.txtimage11{
	color:white;
	grid-column-start:110;
	grid-column-end: 140;
	grid-row-start: 148;
	grid-row-end:   240;
}
.image12{
	
	grid-column-start:75;
	grid-column-end: span 100;
	grid-row-start: 158;
	grid-row-end:   240;
}
.txtimage12{
	z-index: 10;
	color:white;
	grid-column-start:100;
	grid-column-end:  150;
	grid-row-start: 206;
	grid-row-end:   240;
}
.image13{
	
	grid-column-start:128;
	grid-column-end: span 100;
	grid-row-start: 139;
	grid-row-end:   240;
}
.txtimage13{
	z-index: 10;
	color:white;
	grid-column-start:163;
	grid-column-end:  span 30;
	grid-row-start: 182;
	grid-row-end:   240;
}
.image14{
	
	grid-column-start:22;
	grid-column-end: span 100;
	grid-row-start: 196;
	grid-row-end:   240;
}
.txtimage14{
	z-index: 10;
	color:white;
	grid-column-start:50;
	grid-column-end: 90;
	grid-row-start: 210;
	grid-row-end:   240;
}
.image15{
	
	grid-column-start:128;
	grid-column-end: span 100;
	grid-row-start: 196	;
	grid-row-end:   240;
}
.txtimage15{
	z-index: 10;
	color:white;
	grid-column-start:163;
	grid-column-end:  span 30;
	grid-row-start: 210;
	grid-row-end:   240;
}
.blog{
	z-index: 10;
	background-color: red;
	color:white;
	border-radius: 10px;
	width:100px;
	height: 5	5px;
	text-align: center;
	grid-column-start:118;
	grid-column-end: 160;
	grid-row-start: 226;
	grid-row-end:   span 5 ;
}

.parallax{
		display: grid;
	grid-template-columns: repeat(50, 1fr) ;
	grid-template-rows: repeat(50, 1fr) ;
	top:0;
	width: 1520px;
	height: 600px;
	background-image: url("images/parallax.jpg");
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	width: 1520px;
}
footer{

}
.teste{
	text-align:left;
	grid-column-start:10;
	grid-column-end: span 30;
	grid-row-start: 5;
	grid-row-end:   50 ;
}
.soustxt{
	text-align: left;
	grid-column-start:10;
	grid-column-end: span 18;
	grid-row-start: 17;
	grid-row-end:   50 ;
}
.apple{
		text-align: left;
	grid-column-start:10;
	grid-column-end: span 18;
	grid-row-start: 27;
	grid-row-end:   50 ;

}
.google{
		text-align: left;
	grid-column-start:15;
	grid-column-end: span 18;
	grid-row-start: 27;
	grid-row-end:   50 ;

}
.tel{
		text-align: left;
	grid-column-start:35;
	grid-column-end: span 18;
	grid-row-start: 5;
	grid-row-end:   50 ;

}
.download{

	background-color: red;
	color:white;
	border-radius: 10px;
	width:130px;
	height: 5	5px;
	text-align: center;
	grid-column-start:10;
	grid-column-end: span 4;
	grid-row-start: 33;
	grid-row-end:   span 3 ;
}

.footergrid{
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: repeat(50, 1fr) ;
	grid-template-rows: repeat(50, 1fr) ;
	top:0;
	width: 1520px;
	height: 450px;
}
.logofooter{
	grid-column-start:9;
	grid-column-end: span 4;
	grid-row-start: 7;
	grid-row-end:   span 3 ;
}
.leader{
	grid-column-start:8;
	grid-column-end: span 15;
	grid-row-start: 12;
	grid-row-end:   span 4 ;
}
.followus{
	grid-column-start:8;
	grid-column-end: span 4;
	grid-row-start: 25;
	grid-row-end:   span 4 ;
}
.facebook{
	grid-column-start:12;
	grid-column-end: span 1;
	grid-row-start: 25;
	grid-row-end:   span 4 ;
}
.linkedin{
	grid-column-start:13;
	grid-column-end: span 1;
	grid-row-start: 25;
	grid-row-end:   span 4 ;
}
.twitter{
	grid-column-start:14;
	grid-column-end: span 1;
	grid-row-start: 25;
	grid-row-end:   span 4 ;
}
.youtube{
	grid-column-start:15;
	grid-column-end: span 1;
	grid-row-start: 25;
	grid-row-end:   span 4 ;
}
.instagram{
	grid-column-start:16;
	grid-column-end: span 1;
	grid-row-start: 25;
	grid-row-end:   span 4 ;
}
.atlasvoyages{
	grid-column-start:24;
	grid-column-end: span 4;
	grid-row-start: 9;
	grid-row-end:   span 3 ;
}
.liste{

	grid-column-start:23;
	grid-column-end: span 10;
	grid-row-start: 13;
	grid-row-end:   span 3 ;
}
ul.nopoint{
		list-style-type: none;
}
li.padd{
	margin-top:5px;

}
.contacts{
		grid-column-start:35;
	grid-column-end: span 1;
	grid-row-start: 9;
	grid-row-end:   span 1 ;
}
.phone{
	width: 20px;
	grid-column-start:35;
	grid-column-end: span 1;
	grid-row-start: 15;
	grid-row-end:   span 1 ;
}
.numero{
	margin-left: -35px;
	grid-column-start:36;
	grid-column-end: span 5;
	grid-row-start: 15;
	grid-row-end:   span 1 ;
}
.lettre{
	width: 20px;
	grid-column-start:35;
	grid-column-end: span 1;
	grid-row-start: 18;
	grid-row-end:   span 1 ;
}
.mail{
		margin-top: -3px;
		margin-left: -35px;
		grid-column-start:36;
	grid-column-end: span 4;
	grid-row-start: 18;
	grid-row-end:   span 1 ;

}
.newsletter{

	grid-column-start:8;
	grid-column-end: span 4;
	grid-row-start: 30;
	grid-row-end:   span 4 ;
}
.inscrire{
	background-color: white;
	color:red;
	border-radius: 20px;
	width:900px;
	height: 50px;
	height: 5	5px;
	text-align: center;
	grid-column-start:10;
	grid-column-end: span 4;
	grid-row-start: 35;
	grid-row-end:   span 3 ;
}
.white{
	color:white;
}